html, body {
    height: 100%;
}

body, body *, body *::before, body *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#app {
    align-items: center;
    background: #ccddee;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
}