<script setup>
import { computed, reactive } from 'vue';

const state = reactive({
    number: '',
    name: '',
    expires: { month: '01', year: '' },
    security: '',
    showBack: false
});

const prettyNumber = computed(() => (state.number || 'xxxxxxxxxxxxxxxx')
    .match(/.{1,4}/g).join(' '));

const prettyExpires = computed(() => {
    const month = state.expires.month || 'xx';
    const year = state.expires.year || 'xx';
    return `${month}/${year}`;
});

const validKeys = [0,1,2,3,4,5,6,7,8,9].map(digit => `Digit${digit}`);

/** @param {KeyboardEvent} ev */
const filterOnlyDigits = (ev) => {
    if (!validKeys.includes(ev.code)) {
        ev.preventDefault();
        return false;
    }
}
</script>

<template>
    <div class="credit-card-preview" :class="{ flip: state.showBack }">
        <div class="credit-card-flipper">
            <div class="credit-card-preview__front">
                <p>Credit Card</p>
                <p class="number">{{ prettyNumber }}</p>
                <p class="name">{{ state.name || 'xxxxxx xxxxxxx' }}</p>
                <p class="expires">{{ prettyExpires }}</p>
            </div>
            <div class="credit-card-preview__back">
                <p class="security">{{ state.security }}</p>
            </div>
        </div>
    </div>

    <form class="credit-card-form">
        <label>
            <span>Card Number</span>
            <input
                type="text"
                v-model="state.number"
                maxlength="16"
                @keydown="filterOnlyDigits">
        </label>
        <label>
            <span>Displayed Name</span>
            <input type="text" v-model="state.name">
        </label>
        <div class="row">
            <label>
                <span>Expire Month</span>
                <select v-model="state.expires.month">
                    <option value="01">January</option>
                    <option value="02">Februaru</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </label>
            <label>
                <span>Expire Year</span>
                <input type="text" maxlength="2" v-model="state.expires.year">
            </label>
            <label>
                <span>Security Number</span>
                <input
                    type="text"
                    v-model="state.security"
                    @focus="state.showBack = true"
                    @blur="state.showBack = false"
                    maxlength="3"
                >
            </label>
        </div>
    </form>
</template>

<style>
@import './styles/general.css';

/*
 * --- Preview --------------------------------------------------------------
 */

.credit-card-preview {
    height: 200px;
    perspective: 1000px;
    text-shadow: 0 0 2px rgba(0,0,0, .3), 0 1px 1px rgba(0,0,0, .5);
    width: 400px;
}

.credit-card-flipper {
    background: rgb(158, 161, 187);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    color: white;
    height: 100%;
    padding: 1rem;
    position: relative;
    transition: transform 300ms ease-out;
    transform: rotateY(0);
    transform-style: preserve-3d;
    width: 100%;
}

.credit-card-preview.flip .credit-card-flipper {
    transform: rotateY(-180deg);
}

.credit-card-preview p {
    font-family: monospace, sans-serif;
    position: absolute;
}

.credit-card-preview__front, .credit-card-preview__back {
    backface-visibility: hidden;
    position: relative;
}

.credit-card-preview__back {
    transform: rotateY(180deg);
}

.credit-card-preview .number {
    font-size: 2rem;
    left: 0;
    top: 1.5rem;
}

.credit-card-preview .name {
    font-size: 1.4rem;
    top: 7rem;
}

.credit-card-preview .expires {
    top: 9rem;
}

.credit-card-preview .security {
    background: white;
    color: black;
    height: 2rem;
    padding: .5rem;
    right: 2rem;
    text-shadow: none;
    top: 4.8rem;
    width: 2.8rem;
}

.credit-card-preview .security::before {
    color: white;
    content: 'CCD';
    font-family: monospace, sans-serif;
    position: absolute;
    right: calc(100% + .5rem);
    text-shadow: 0 0 2px rgba(0,0,0, .3), 0 1px 1px rgba(0,0,0, .5);
}

.credit-card-preview p:not(:last-of-type) {
    margin-bottom: 1rem;
}

/*
 * --- Forn ---------------------------------------------------------------
 */

.credit-card-form {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 4rem;
    padding: 1rem;
}

.credit-card-form label {
    display: flex;
    flex-flow: column nowrap;
}

.credit-card-form input, .credit-card-form select {
    padding: .5rem;
    width: 400px;
}

.credit-card-form label:not(:last-of-type) {
    margin-bottom: 1rem;
}

.credit-card-form .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.credit-card-form .row input, .credit-card-form .row select {
    width: 120px;
}
</style>
